<div class="row px-3 mb-3">
    <a href="{% url 'staff' %}" class="btn btn-outline-primary rounded-sm mr-3">Main Dashboard</a>
    <a href="{% url 'order_dashboard' %}" class="btn btn-outline-primary rounded-sm mr-3">Order dashboard</a>
    <a href="{% url 'user_dashboard' %}" class="btn btn-outline-primary rounded-sm mr-3">User dashboard</a>
    <a href="{% url 'product_dashboard' %}" class="btn btn-outline-primary rounded-sm mr-3">Product dashboard</a>
    <a href="{% url 'settings' %}" class="btn btn-outline-primary rounded-sm mr-3">Settings</a>
</div>

