{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/messages.html' %}
<div class="row px-3">
    <a href="{% url 'product_dashboard' %}" class="btn btn-outline-secondary rounded-sm mb-3">Return back</a>
</div>
<div class="card rounded-sm shadow-sm">
    <div class="card-header">
        <h3>Edit Product - {{product.product_name}}</h3>
    </div>
    <div class="card-body">
        <form action="{% url 'edit_product' product.id %}" method="post" class="mb-0" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productName" class="form-control rounded-sm" value="{{product.product_name}}">
                    </div>
                    <div class="form-group">
                        <label for="productInfo">Product Description</label>
                        <textarea name="productInfo" rows="5" class="form-control rounded-sm">{{product.product_info}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="amount">Available amount</label>
                        <input type="number" min="1" name="availableAmount" class="form-control rounded-sm" value="{{product.available_amount}}">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" name="price" min="1" class="form-control rounded-sm" value="{{product.price}}">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" class="form-control rounded-sm">
                            {% for category in categories %}
                                {% if category.name == product.product_category.name %}
                                    <option selected value="{{category.id}}">{{category.name}}</option>
                                {% else %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <p>Product Image</p>
                        <img src="{{product.product_image.url}}" style="max-width: 400px;">
                    </div>
                    <div class="form-group">
                        <input type="file" name="productImage" class="form-control-file" accept=".jpg, .jpeg, .png">
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary rounded-sm">
        </form>
    </div>
</div>
{% endblock %}